<div class="login-background" >
    <div class="login_container">
        <div class="signin_block">
            <div class="login_logo">
                <img src="assets/img/FR8_App_LOGO.jpg" width="600px;">
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="signIn()" novalidate style="padding: 20px 0px;">
                <label class="label_lg">
                    <input id="input_username" name="username" class="input_lg" placeholder="Username"
                           formControlName="username"
                            type="text">
                </label>
                <label class="label_lg">
                    <input id="input_password" name="password" class="input_lg"  placeholder="Password"
                    formControlName="password"
                            type="password">
                </label>
                <label class="xs_button">
                    <input type="submit" value="Sign In"  [disabled]="!loginForm.valid" class="btn_xs_fill"/>
                </label>
            </form>
        </div>
    </div>
</div>