/* app css stylesheet */


/* header {
    background-image: url('../img/TMS_Shipment_Header_bg.png');
    height: 72px;
}

header h1 {
    margin: 0;
    line-height: 72px;
    padding-left: 10px;
    display: inline-block;
}

header .sign-out-link {
    display: inline-block;
    margin: 47px 10px 0 0;
    float: right;
}

header .sign-out-link a {
    display: inline-block;
    margin-left: 60px;
    padding-top: 5px;
}

a {
    cursor: pointer;
}

textarea {
    resize: none;
} */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

label.has-error {
    font-size: 12px !important;
    margin-bottom: 0;
}


.login_container input[type="text"],
.login_container input[type="password"],
.login_container input[type="email"] {
    height: 22px;
    border: 1px solid rgb(204, 204, 204);
    padding: 0px 3px;
    font-size: 12px;
}

.login_container input[type="checkbox"] + label span,
.login_container input[type="radio"] + label span {
    display: inline-block;
}

.login_container input[type="checkbox"]:checked + label span:before,
.login_container input[type="radio"]:checked + label span:before {
    font-family: "FontAwesome";
    content: "\f058";
    font-size: 18px;
    color: rgb(255, 153, 51);
}

.login_container input[type="checkbox"] + label span:before,
.login_container input[type="radio"] + label span:before {
    vertical-align: baseline;
    cursor: pointer;
    margin: -1px 5px 0 0;
    font-family: "FontAwesome";
    content: "\f10c";
    font-size: 18px;
    color: rgb(255, 153, 51);
}

.input_lg,
.label_lg {
    min-width: 150px;
    max-width: 150px;
    width: 150px;
    word-break: break-all;
}

form.ng-submitted.ng-invalid input.ng-invalid, input.ng-invalid.ng-touched {
    border-color: #e73d4a;
}



.login-background {
    background-color: #2b3643;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 100%;
}
.login_container {
    text-align: center;
    position: relative;
    top: 40%;
    margin-top: -150px;
}

.login_container .xs_button,
.login_container .label_lg {
    margin-top: 0;
}

.login_container .custom_checkbox {
    margin-top: 0px;
}

.login_container .xs_button,
.login_container .label_lg {
    margin-top: 0;
}



.btn_no_fill_lg {
    height: 22px;
    width: 150px;
    border: 1px solid rgb(255, 0, 102);
    border-radius: 6px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    color: rgb(255, 0, 102);
    background-color: white;
    cursor: pointer;
}

.login_container .btn_xs_fill {
    height: 22px;
}

.btn_xs_fill {
    background-color: rgb(255, 3, 113);
    display: inline-block;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font-size: 11px;
    text-transform: uppercase;
    width: 73px;
    height: 18px;
    text-align: center;
    border: 0;
    color: white;
    cursor: pointer;
    margin-right: 5px;
}

.signin_block {
    width: 600px;
    margin: 25px auto;
    background: #fff;
    overflow: hidden;
}


.footer {
    background-color: transparent;
}
.footer {
    text-align: center;
    padding-top:8px;
    padding-bottom:8px;
    bottom: 0px;
    width: 100%;
    z-index: 2;
}

  .home-page  .mat-button  {
    min-width: 260px !important;
    font-size: 20px !important;
    line-height: 40px !important;
    text-transform: none !important;
}

  .home-page .mat-button .material-icons {
    vertical-align: text-bottom !important;
}


  





