<h1 mat-dialog-title>{{dialogTitle}}</h1>
<div mat-dialog-content style="overflow:hidden;">
  <p>{{dialogMessage}}</p>
<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false" *ngIf="isConfirm">Cancle</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</div>

