<div id="unis">
    <div class="light-theme">
      <div class="grid-content grid-100">
            <h2 style="font-size:30px;">Welcome to WISE</h2>
        </div>

        <!-- <div class="grid-100 row home-page"> -->
            <!-- <div class="grid-content grid-100"> -->
                <div class="grid-parent grid-100 container home-page" style="margin-top: 70px;">
                    <div class="push-15 grid-70">
                        <div class="grid-33" *ngFor="let module of modules" style="margin-bottom: 10px;">
                            <a class="mat-button" mat-raised-button [routerLink]="['/'+ module.path]">
                                <span><i class="{{module.iconClass}}">{{module.iconText}}</i> {{module.label}}</span>
                            </a>
                        </div>
                    </div>
                    
                </div>
            <!-- </div> -->
          <!-- </div> -->
    </div>
</div>


